<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<link href="static/css/style.css", rel="stylesheet", type="text/css"/>
<title>WaifuKampf</title>

</head>
<body>

<div>

	<h1>Конкурс вайфу 2022</h2>
	<h2 class="zagolovok0">Анімешні меми</h2>
	<div class="table_waifu">
	
	<div class="head">		
		<form method="post">
		<input type="submit" class="btn big_btn" value="START" name="my_id"></button>
		</form>	
	</div>	
	
	<h2 class="zagolovok1">Поточний рейтинг вайфу</h2>
  <table border="2">
   
   <tr>
    <th>Ім'я вайфу</th>
    <th>Аніме</th>
    <th>Рейтинг</th>

   </tr>


	{% for waifu in list_waifu %}
	<div>
		{% if waifu.num==0 %}
		<tr class="first">
			<td>{{ waifu.waifu.name }}</td><td>{{ waifu.waifu.anime }}</td><td>{{ waifu.waifu.raiting }}</td>
		</tr>	
		{% elif waifu.num==1 %}
		<tr class="second">
			<td>{{ waifu.waifu.name }}</td><td>{{ waifu.waifu.anime }}</td><td>{{ waifu.waifu.raiting }}</td>
		</tr>			
		{% elif waifu.num==2 %}
		<tr class="third">
			<td>{{ waifu.waifu.name }}</td><td>{{ waifu.waifu.anime }}</td><td>{{ waifu.waifu.raiting }}</td>
		</tr>		

		{% else %}
		<tr>
			<td>{{ waifu.waifu.name }}</td><td>{{ waifu.waifu.anime }}</td><td>{{ waifu.waifu.raiting }}</td>
		</tr>		
		{% endif %}
		
	</div>
	{% endfor %}


  </table>
	</div>
</div>

</body>
</html>

